<!-- main wrapper  -->
<div class="main-wrapper">
  <!-- pageheader  -->
  <div class="py-6 py-lg-8 ">
      <div class="container">
          <div class="row">
              <div class="offset-lg-1 col-lg-10 col-md-12 col-12 text-center">
                  <h1>Add a yerba</h1>
              </div>
          </div>
      </div>
  </div>
  <!-- form  -->
  <div class="pb-lg-11 pb-7">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <form action="#" >
                      <!-- Step 1 -->
                      <div class="row mb-8">
                          <div class="col-12">
                              <div class="mb-4 border-bottom pb-2">
                                  <h4 class="mb-0">Basic information</h4>
                              </div>
                          </div>
                          <!-- property name  -->
                          <div class="col-12">
                              <div class="mb-3">
                                  <label for="propertyname" class="form-label">Name</label>
                                  <input type="text" class="form-control" id="propertyname"
                                      placeholder="Enter Your Property Name" name="propertyname" required>
                              </div>
                          </div>
                          <!-- property type  -->
                          <div class="col-12">
                              <div class="mb-3">
                                  <label for="home" class="form-label">Type</label>
                                  <select class="select2" id="home" name="home">
                                      <option selected>Con palo</option>
                                      <option value="sin palo">Sin palo</option>
                                      <option value="organic">Organic</option>
                                  </select>
                              </div>
                          </div>
                          <!-- country  -->
                          <div class="col-md-12 col-12">
                              <div class="mb-3">
                                  <label for="countries" class="form-label">Country</label>
                                  <select class="select2 " id="countries" name="countries">
                                      <option selected>🇦🇷 Argentina</option>
                                      <option value="Brazil">🇧🇷 Brazil</option>
                                      <option value="Paraguay">🇵🇾 Paraguay</option>
                                      <option value="Uruguay">🇺🇾 Uruguay</option>
                                      <option value="Other">🌎 Other</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-xl-12 mt-4">
                              <div class="mb-4 border-bottom pb-2">
                                  <h4 class="mb-0">Type</h4>
                              </div>
                          </div>
                          <!-- checkboxs  -->
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck19">
                                  <label class="form-check-label" for="customCheck19">Con palo</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck20">
                                  <label class="form-check-label" for="customCheck20">Sin palo</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck21">
                                  <label class="form-check-label" for="customCheck21">Organic</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck22">
                                  <label class="form-check-label" for="customCheck22">Air conditioning</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck23">
                                  <label class="form-check-label" for="customCheck23">Washer</label>
                              </div>
                          </div>
                          <!-- checkbox  -->
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck24">
                                  <label class="form-check-label" for="customCheck24">Pool</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck25">
                                  <label class="form-check-label" for="customCheck25">Wifi</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck26">
                                  <label class="form-check-label" for="customCheck26">Washing machine</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck27">
                                  <label class="form-check-label" for="customCheck27">Indoor fireplace</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck28">
                                  <label class="form-check-label" for="customCheck28">Desk for work</label>
                              </div>
                          </div>
                          <!-- checkboxes  -->
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck29">
                                  <label class="form-check-label" for="customCheck29">Doorman</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck30">
                                  <label class="form-check-label" for="customCheck30">Free parking
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck31">
                                  <label class="form-check-label" for="customCheck31">Heating</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck32">
                                  <label class="form-check-label" for="customCheck32">Hair dryer</label>
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck34">
                                  <label class="form-check-label" for="customCheck34">Toiletteries</label>
                              </div>
                          </div>
                      </div>
                      <div class="row mb-8">
                          <div class="col-lg-12">
                              <div class="mb-4 border-bottom pb-2">
                                  <h4 class="mb-0">Description</h4>
                              </div>
                          </div>
                          <!-- editor  -->
                          <div class="col-lg-12 mb-8">
                              <textarea class="form-control ql-container ql-snow" id="description" rows="3"></textarea>
                          </div>
                      </div>
                      <!-- gallery  -->
                      <div class="row mb-8">
                          <div class="col-lg-12">
                              <div class="mb-4 border-bottom pb-2">
                                  <h4 class="mb-0">Add Gallery Images </h4>
                              </div>
                          </div>
                          <!-- upload images  -->
                          <div class="col-lg-12">
                              <div id="drag-drop-area"></div>
                              <small class="mt-1">In asemeu lectus viverra aliquet ac quis magestibulum ac tempor
                                  magnteger.</small>
                          </div>
                      </div>
                      <!-- submit button  -->
                      <div class="row">
                          <div class="col-lg-12">
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>


<%= simple_form_for :yerba, url: "#", html: { class: "pb-lg-11 pb-7" } do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Basic Info -->
        <div class="row mb-8">
          <div class="col-12">
            <div class="mb-4 border-bottom pb-2">
              <h4 class="mb-0">Basic information</h4>
            </div>
          </div>
          <%= f.input :name, required: true, input_html: { class: "col-12 mb-3 form-control", placeholder: "Enter the yerba's name" } %>
          <%= f.input :type, collection: ["Con palo", "Sin palo", "Organic"], input_html: { class: "col-12 mb-3 select2" } %>
          <%= f.input :country, collection: ["🇦🇷 Argentina", "🇧🇷 Brazil", "🇵🇾 Paraguay", "🇺🇾 Uruguay", "🌎 Other"], input_html: { class: "col-12 mb-3 select2" } %>
        </div>
        <!-- Description -->
        <div class="row mb-8">
          <div class="col-lg-12">
              <div class="mb-4 border-bottom pb-2">
                <h4 class="mb-0">Description</h4>
              </div>
          </div>
          <div class="col-lg-12 mb-8">
            <%= f.input :description, input_html: { class: "form-control ql-container ql-snow", rows: "3" } %>
          </div>
        </div>
        <!-- Photo  -->





        <%= f.input :photo, as: :file %>


        <!-- submit button  -->
        <div class="row">
          <div class="col-lg-12">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
