<!-- main wrapper -->
<div class="main-wrapper">
    <!-- listing slide -->
    <div class="container mt-5">
        <div class="py-22 position-relative rounded-3" style="background: url('<%= cl_image_path @yerba.photo.key, height: 300, crop: :fill %>') no-repeat center center; ">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <!-- listing badges -->
                    <div class="position-absolute bottom-0 mb-5 ms-5">
                        <div>
                            <a href="#" class="btn btn-white btn-sm"> <span class="mdi mdi-heart me-1 text-danger"></span>Save</a>
                            <a href="#gallery" class="btn btn-white btn-sm">View Photos</a></div>
                    </div>
                    <!-- listing badges -->
                </div>
            </div>
        </div>
    </div>
    <div class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                    <div class="card mb-4">
                        <!-- listing detail head -->
                        <div class="card-body p-4">
                            <h1 class="mb-2"><%= @yerba.name %></h1>
                            <h2 class="mb-4 fs-4"><%= @yerba.brand %></h2>
                            <div class="text-sm">
                              <span class="me-2"><span class="ms-2"><%= @yerba.country %></span></span>
                                <span class="me-2"><i class="mdi mdi-account text-primary"></i><span class="ms-2">4
                  Guest</span></span>
                                <span class="me-2"><i class="mdi mdi-home text-primary"></i><span class="ms-2">3
                  Bedroom</span></span>
                                <span class="me-2"><i class="mdi mdi-bed-empty text-primary"></i><span class="ms-2">3
                  Bed</span></span>
                                <span class="me-2"><i class="mdi mdi-scale-bathroom text-primary"></i><span class="ms-2">3
                  Bath</span></span>
                            </div>
                        </div>
                        <!-- listing detail head -->
                    </div>
                    <!-- listing detail -->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <h4>Overview</h4>
                            <p><%= @yerba.description  %></p>
                        </div>
                    </div>
                    <!-- listing detail -->
                    <!-- listing detail -->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <h4 class="mb-3">Amenities</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group list-unstyled">
                                        <li class="list-item"><span class="mdi mdi-air-conditioner me-2 text-dark fs-5"></span>Air conditioning
                                        </li>
                                        <li class="list-item"><span class="mdi mdi-television-classic me-2 text-dark fs-5"></span>TV
                                        </li>
                                        <li class="list-item"><span class="mdi mdi-car-brake-parking me-2 text-dark fs-5"></span>Free parking on premises</li>
                                        <li class="list-item"><span class="mdi mdi-pool me-2 text-dark  fs-5"></span>Pool</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-unstyled">
                                        <li class="list-item"><span class="mdi mdi-thermometer-lines me-2 text-dark  fs-5"></span>Heating
                                        </li>
                                        <li class="list-item"><span class="mdi mdi-toilet me-2 text-dark  fs-5"></span>Toiletteries
                                        </li>
                                        <li class="list-item"><span class="mdi mdi-television me-2 text-dark  fs-5"></span>Desk for work
                                        </li>
                                        <li class="list-item"><span class="mdi mdi-washing-machine me-2 text-dark  fs-5"></span>Washing machine
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- listing detail -->
                    <!-- listing detail -->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <h4>Reviews</h4>
                            <div class="row border-bottom mb-5 pb-5 mt-3">
                                <div class="col-md-2">
                                    <div class="text-lg-center">
                                        <h2 class="display-5 fw-bold mb-0 lh-1">3.8</h2>
                                        <p class="mb-0">Reviews</p>
                                        <p><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span></p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="d-flex justify-content-between">
                                        <div><span>Atmosphere</span></div>
                                        <div> <span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span>                                                <span class="review-list-value">0.5</span></div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div><span>Security</span></div>
                                        <div> <span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span>                                                <span class="review-list-value">0.5</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div><span>Location</span></div>
                                        <div><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star-outline text-primary"></span>                                                <span>4.0</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div><span>Facilities</span> </div>
                                        <div><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star-half text-primary"></span>
                                            <span>4.5</span></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="d-flex justify-content-between">
                                        <div><span>Staff</span> </div>
                                        <div><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span>
                                            <span>0.5</span></div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div><span>Cleanliness</span></div>
                                        <div><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span>
                                            <span>0.5</span></div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div><span>Value of money</span></div>
                                        <div><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star-outline text-primary"></span>                                                <span>4.0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-5">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div><img src="../assets/images/avatar-3.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="avatar-md avatar rounded-circle mb-3">
                                                <h5 class="mb-n1">James Duncan</h5>
                                                <small>30 May, 2021</small>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div>
                                                <h5 class="fw-bold mb-2">It was absolutely lovely.</h5>
                                                <p>Suspendisse potenti. Pellentesque sed elit a augue condimentum varius. Integer porttitor neque quis velit tempor malesuada ersusvelit. Fusce vitae nulla at magna hendrerit rint metus.
                                                </p>
                                                <span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div><img src="../assets/images/avatar-2.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="avatar-md avatar rounded-circle mb-3">
                                                <h5 class="mb-n1">Sameera Badami</h5>
                                                <small>30 May, 2021</small>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div>
                                                <h5 class="fw-bold mb-2">Superb Place for stay</h5>
                                                <p>The place is too good, the staff was very cooperative &responsive at any given time. What I appreciate the most is they arranged our stay in these times of crisis by doing their best in all manner. We
                                                    are very grateful to them for that.
                                                </p>
                                                <span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span><span class="mdi mdi-star text-primary"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- listing detail -->
                    </div>
                    <!-- listing detail -->
                    <!-- listing detail -->
                    <div class="card mb-4 ">
                        <div class="card-body p-4">
                            <h4 class="mb-3">Leave Your Review</h4>
                            <form class="row">
                                <div class="mb-3 col-6">
                                    <label for="reviewtitle" class="form-label">Name <span class="text-danger">*</span></label>
                                    <input type="text" name="name" class="form-control" id="reviewname" aria-describedby="reviewname" placeholder="John Deo" required="">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="reviewemail" class="form-label"> Email <span class="text-danger">*</span></label>
                                    <input type="email" name="email" class="form-control" id="reviewemail" aria-describedby="reviewemail" placeholder="Enter email" required="">
                                </div>
                                <div class="mb-3 col-12">
                                    <label for="reviewtitle" class="form-label">Review Title <span class="text-danger">*</span></label>
                                    <input type="text" name="title" class="form-control" id="reviewtitle" aria-describedby="reviewtitle" placeholder="Write Review Title" required="">
                                </div>
                                <div class="col-md-12 mt-2">
                                    <h5>Reviews</h5>
                                </div>
                                <div class="col-md-5 review-total mb-2">
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Atmosphere</span></div>
                                        <div><span id="ratingstar1" class="rating-star-img"></span></div>
                                    </div>
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Security</span></div>
                                        <div><span id="ratingstar2" class="rating-star-img"></span></div>
                                    </div>
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Location</span></div>
                                        <div><span id="ratingstar3" class="rating-star-img"></span></div>
                                    </div>
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Facilities</span> </div>
                                        <div><span id="ratingstar4" class="rating-star-img"></span></div>
                                    </div>
                                </div>
                                <div class="offset-md-1 col-md-5 review-total">
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Staff</span></div>
                                        <div><span id="ratingstar5" class="rating-star-img"></span></div>
                                    </div>
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Cleanliness</span></div>
                                        <div><span id="ratingstar6" class="rating-star-img"></span></div>
                                    </div>
                                    <div class="d-flex justify-content-between text-sm">
                                        <div><span>Value of money</span></div>
                                        <div><span id="ratingstar7" class="rating-star-img"></span></div>
                                    </div>
                                </div>
                                <div class="mb-3 col-12 mt-3">
                                    <label for="reviewdescription" class="form-label">Write Your Experience</label>
                                    <textarea class="form-control" id="reviewdescription" rows="3"></textarea>
                                </div>
                                <div class="d-lg-flex justify-content-between align-items-center">
                                    <button type="submit" class="btn btn-primary">Submit Review</button>
                                    <small class="ms-2"><span class="text-danger">*</span> Required Filed</small>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- listing detail -->
                    <!-- listing detail -->
                    <div class="card mb-4" id="gallery">
                        <div class="card-body p-4">
                            <h4 class="mb-4">Gallery</h4>
                            <div class="zoom-gallery">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="../assets/images/gallery-zoom-img-1.jpg" title="Gallery Image Rentkit Directory Bootstrap 5 Template">
                                            <img src="../assets/images/gallery-img-1.jpg" class="img-fluid rounded-3 mb-4" alt="Rentkit Directory & Listing Bootstrap 5 Theme">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../assets/images/gallery-zoom-img-2.jpg" title="Gallery Image Rentkit Directory Bootstrap 5 Template">
                                            <img src="../assets/images/gallery-img-2.jpg" class="img-fluid rounded-3 mb-4" alt="Rentkit Directory & Listing Bootstrap 5 Theme">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../assets/images/gallery-zoom-img-3.jpg" title="Gallery Image Rentkit Directory Bootstrap 5 Template">
                                            <img src="../assets/images/gallery-img-3.jpg" class="img-fluid rounded-3 mb-4" alt="Rentkit Directory & Listing Bootstrap 5 Theme">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../assets/images/gallery-zoom-img-4.jpg" title="Gallery Image Rentkit Directory Bootstrap 5 Template">
                                            <img src="../assets/images/gallery-img-4.jpg" class="img-fluid rounded-3 mb-4 mb-lg-0" alt="Rentkit Directory & Listing Bootstrap 5 Theme">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../assets/images/gallery-zoom-img-3.jpg" title="Gallery Image Rentkit Directory Bootstrap 5 Template">
                                            <img src="../assets/images/gallery-img-3.jpg" class="img-fluid rounded-3 mb-4  mb-lg-0" alt="Rentkit Directory & Listing Bootstrap 5 Theme">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="../assets/images/gallery-zoom-img-2.jpg">
                                            <img src="../assets/images/gallery-img-2.jpg" class="img-fluid rounded-3 mb-4 mb-lg-0" alt="Rentkit Directory & Listing Bootstrap 5 Theme">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- listing detail -->
                    <!-- listing detail -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-12 ">
                    <!-- listing detail -->
                    <div>
                        <!-- listing widget -->
                        <div class="card mb-4 ">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-center mb-3">
                                    <h3 class="fw-bold">$120</h3><small class="text-muted ms-2">/ kg</small>
                                </div>
                                <div>
                                    <form>
                                        <div class="mt-3 d-grid">
                                            <button class="btn btn-primary " type="button">Buy</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- listing widget -->
                        <!-- listing widget -->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <h5 class="mb-0">Hosted by <span class="mdi mdi-medal text-primary float-right"></span></h5>
                                <div class="text-center mt-4">
                                    <img src="../assets/images/avatar-3.jpg " alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="rounded-circle avatar avatar-lg mb-2">
                                    <h5 class="mb-0">Juana Henry</h5>
                                    <small>joined in january 2017</small>
                                    <p class="mb-0 mx-5 mt-3">Duis varius finibus felis, a tincidunt sedmauris varius eudeunc aliquet ipsum odio id luctus quam dapibus sem.</p>
                                </div>
                            </div>
                            <div class="border-top card-body p-4 text-center">
                                <p class="mb-0">Response rate: <span class="text-primary">100%</span></p>
                                <p>Response time: <span class="text-primary">within an hour</span></p>
                                <div class="d-grid mx-8">
                                    <a href="#" class="btn btn-dark">Contact Host</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- listing detail -->
                    <div class="d-grid">
                        <a href="#" class="btn btn-light mb-4"><i class="mdi mdi-flag-variant-outline me-1"></i>Report this
            listing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-lg-12 pb-7 bg-white" id="similarspace">
        <div class="container">
            <div class="row">
                <!-- section heading  -->
                <div class=" col-md-12 col-12">
                    <div class="mb-8 text-center">
                        <h2 class="mb-0">Similar Yerbas</h2>
                    </div>
                </div>
                <!-- section heading  -->
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <!-- listing block  -->
                    <div class="mb-4 mb-lg-0">
                        <div class="position-relative">
                            <div id="listcarouselTwo" class="carousel slide " data-bs-ride="carousel" data-bs-interval="false">
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#listcarouselTwo" data-bs-slide-to="0" class="active rounded-circle"></li>
                                    <li data-bs-target="#listcarouselTwo" data-bs-slide-to="1" class="rounded-circle"></li>
                                    <li data-bs-target="#listcarouselTwo" data-bs-slide-to="2" class="rounded-circle"></li>
                                </ol>
                                <div class="carousel-inner rounded-3">
                                    <div class="carousel-item active">
                                        <img src="../assets/images/listing-img-4.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/listing-img-5.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/listing-img-6.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 ">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#listcarouselTwo" role="button" data-bs-slide="prev">
                                    <i class="mdi mdi-chevron-left icon-shape icon-xs bg-white rounded-circle fs-4"></i>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#listcarouselTwo" role="button" data-bs-slide="next">
                                    <i class="mdi mdi-chevron-right icon-shape icon-xs bg-white rounded-circle fs-4"></i>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                            <div class="btn-wishlist"></div>
                            <span class="badge bg-danger position-absolute start-0 ms-3 mt-3 top-0 z-1">Featured</span>
                        </div>
                        <div class="mt-3">
                            <h4 class="mb-0"> <a href="list-single.html" class="text-inherit">Beautiful Cozy
                Home</a></h4>
                            <p class="text-sm font-weight-semi-bold">Udaipur, Rajasthan, India</p>
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <span class=" h5">$100</span><span class="text-sm font-weight-semi-bold ms-1">/night</span>
                                </div>
                                <div>
                                    <span class="mdi mdi-star me-1 text-primary text-sm"></span>
                                    <span class="font-weight-semi-bold  text-sm"><span class="text-dark">5.0</span> (8)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- listing block  -->
                </div>
                <div class="col-md-4 col-12">
                    <!-- listing block  -->
                    <div class="mb-4 mb-lg-0">
                        <div class="position-relative">
                            <a href="list-single.html"> <img src="../assets/images/listing-img-2.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 rounded-3"></a>
                            <div class="btn-wishlist"></div>
                            <span class="badge bg-info position-absolute start-0 ms-3 mt-3">Promoted</span>
                        </div>
                        <div class="mt-3">
                            <div>
                                <h4 class="mb-0"> <a href="list-single.html" class="text-inherit">Affordable Long
                  Term Room</a></h4>
                                <p class="text-sm font-weight-semi-bold">Daman, Daman and Diu, India</p>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <span class=" h5">$250</span><span class="text-sm font-weight-semi-bold ms-1">/night</span>
                                </div>
                                <div>
                                    <span class="mdi mdi-star me-1 text-primary text-sm"></span>
                                    <span class="font-weight-semi-bold  text-sm"><span class="text-dark">4.9</span> (6)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- listing block  -->
                </div>
                <div class="col-md-4 col-12">
                    <!-- listing block  -->
                    <div class="mb-4 mb-lg-0">
                        <div class="position-relative">
                            <div id="listcarouselThird" class="carousel slide " data-bs-ride="carousel" data-bs-interval="false">
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#listcarouselThird" data-bs-slide-to="0" class="active rounded-circle"></li>
                                    <li data-bs-target="#listcarouselThird" data-bs-slide-to="1" class="rounded-circle"></li>
                                    <li data-bs-target="#listcarouselThird" data-bs-slide-to="2" class="rounded-circle"></li>
                                </ol>
                                <div class="carousel-inner rounded-3">
                                    <div class="carousel-item active">
                                        <img src="../assets/images/listing-img-4.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/listing-img-5.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 ">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../assets/images/listing-img-6.jpg" alt="Rentkit Directory & Listing Bootstrap 5 Theme" class="w-100 ">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#listcarouselThird" role="button" data-bs-slide="prev">
                                    <i class="mdi mdi-chevron-left icon-shape icon-xs bg-white rounded-circle fs-4"></i>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#listcarouselThird" role="button" data-bs-slide="next">
                                    <i class="mdi mdi-chevron-right icon-shape icon-xs bg-white rounded-circle fs-4"></i>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                            <div class="btn-wishlist"></div>

                        </div>
                        <div class="mt-3">

                            <h4 class="mb-0"> <a href="list-single.html" class="text-inherit">Entire 3 BHK Cozy
                Apartment</a>
                            </h4>
                            <p class="text-sm font-weight-semi-bold">Ahmedabad, Gujarat, India</p>

                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <span class=" h5">$180</span><span class="text-sm font-weight-semi-bold ms-1">/night</span>
                                </div>
                                <div>
                                    <span class="mdi mdi-star me-1 text-primary text-sm"></span>
                                    <span class="font-weight-semi-bold  text-sm"><span class="text-dark">4.7</span> (4)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- listing block  -->
                </div>
            </div>
        </div>
    </div>
</div>
