<!-- content -->
<div class="min-vh-100 py-md-10 py-lg-0" style="background: url(<%= asset_path 'banner.jpg' %>) no-repeat center center fixed; -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
    <div class="container">
        <div class="row d-flex align-items-center min-vh-100 justify-content-end">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                <!-- card -->
                <div class="card shadow border-0">
                    <!-- card body -->
                    <div class="card-body p-8">
                      <h3 class="mb-4">Forgot your password?</h3>
                      <p>Follow these simple steps to reset your password:</p>
                      <ul class="list-unstyled">
                        <li>1. Enter your email address</li>
                        <li>2. Wait for your recovery details to be sent.</li>
                        <li>3. Follow the instructions in the email.</li>
                      </ul>
                      <!-- form -->
                        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                          <%= f.error_notification %>

                          <div class="form-inputs">
                            <%= f.input :email,
                                        required: true,
                                        autofocus: true,
                                        input_html: { autocomplete: "email", class: "mb-3 form-label", placeholder: "Enter your email" } %>
                          </div>

                          <div class="form-actions">
                            <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary btn-block" %>
                          </div>
                        <% end %>
                        <div class="mt-4">
                          <%= render "devise/shared/links" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
