<!-- pageheader  -->
<div class="py-lg-11 py-7">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="py-10 rounded-top"style="background:
                    url(<%= image_path("banner_brands2.webp") %>)
                    no-repeat;
                    background-size: cover;">
                </div>
                <div class="bg-white pt-2 pb-0 rounded-bottom shadow-sm
                    row g-0">
                    <div class="offset-xl-3 col-xl-6 col-md-12
                        col-12 mb-4">
                        <div class="text-center position-relative
                            mt-n10">
                            <img src="<%= @brand.logo_url %>"
                                class="avatar-lg rounded-circle
                                border-4 border border-white mb-3"
                                alt="" style="width: 100%; object-fit: contain; background-color: white">
                            <h2 class="mb-1"><%= @brand.name %></h2>
                            <p class="mb-2 d-block fs-6"><%= @brand.country.capitalize %></p>
                            <div class="description-container mb-4" data-controller="show-description" data-action="click->show-description#show" style="display: flex; flex-direction: column;">
                              <p class="description mb-3 px-4" data-show-description-target="text"><%= @brand.description %></p>
                              <p class="show-more-button" data-show-description-target="button" style="display: flex; flex-direction: column;">Show more</p>
                            </div>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><span
                                        class="text-dark me-1"><%= Yerba.where(brand: @brand).count %></span>
                                    Yerbas</li>
                                <li class="list-inline-item"><i
                                        class="mdi mdi-circle
                                        mdi-8px align-middle
                                        text-black-50"></i></li>
                                <li class="list-inline-item"><span
                                        class="text-dark me-1">95%</span>
                                    Average rating</li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-lt-tab mt-2" id="pills-tab"
                        role="tablist">
                        <li class="nav-item ml-0"
                            >
                            <a class="nav-link active" href="/brands/<%= @brand.id %>"
                                >Yerbas </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-6">
                <h2 class="mb-0"><%= @brand.name %>'s yerbas
                </h2>
            </div>
            <% @brand.yerbas.each do |yerba| %>
              <div class="col-xl-4 col-md-6 col-12">
                <!-- listing block -->
                <div class="mb-6">
                    <div class="position-relative">
                      <img src="<%= cl_image_path yerba.photo.key, crop: :fill %>" alt="<%= @brand.name %> - <%= yerba.name %>" style="height: 200px; width: 100%; border: 1px solid lightgrey" class="w-100 rounded-3">
                      <div class="btn-wishlist"></div>
                    </div>
                    <div class="mt-3">
                        <h4 class="mb-0 text-truncate"> <a href="/yerbas/<%= yerba.brand.id %>" class="text-inherit"><%= yerba.name %></a></h4>
                        <p class="text-sm font-weight-semi-bold"><%= yerba.brand.name %></p>
                        <div class="d-flex justify-content-between mt-3">
                            <div>
                                <span class="h5">$100</span><span class="text-sm font-weight-semi-bold ms-1">/night</span>
                            </div>
                            <div>
                                <span class="mdi mdi-star me-1 text-primary text-sm"></span>
                                <span class="font-weight-semi-bold  text-sm"><span class="text-dark">5.0</span> (8)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- listing block -->
              </div>
            <% end %>
            </div>
        </div>
    </div>
</div>
